<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="admin/common::header(~{::title},~{},~{})">
    <title>导航条管理</title>
</head>
<body>
<th:block th:include="admin/common::nav('navigation')"></th:block>

<div class="container lw-main lw-banner">
    <div class="btn-group" role="group" style="margin-bottom: 20px;" aria-label="...">
        <button type="button" id="lw-add-btn" class="btn btn-default"><i class="fa fa-plus"></i> 新增</button>
        <button type="button" id="lw-order-btn" class="btn btn-default"><i class="fa fa-refresh"></i> 保存顺序</button>
    </div>
    <table id="data-table"></table>
</div>

<div class="modal fade" id="save-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="data-form">
                <input type="hidden" name="id">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="window-title">Modal title</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" name="name" required class="form-control" placeholder="请输入名称...">
                    </div>

                    <div class="form-group">
                        <label>图标</label>
                        <input type="text" name="icon" class="form-control" placeholder="请输入图标...">
                    </div>

                    <div class="form-group">
                        <label>跳转链接</label>
                        <input type="url" name="link" required class="form-control" placeholder="请输入跳转链接...">
                    </div>

                    <div class="form-group">
                        <label>顺序</label>
                        <input type="number" name="ordered" required class="form-control" placeholder="请输入顺序...">
                    </div>

                    <div class="form-group">
                        <label>打开方式</label>
                        <select required name="linkMode" class="form-control">
                            <option value="true">在新页面打开</option>
                            <option value="false">在当前页打开</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>是否启用</label>
                        <select required name="enable" class="form-control">
                            <option value="true">启用</option>
                            <option value="false">禁止</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:include="admin/common::footer"></th:block>
<script>
    $(function () {

        // $('#save-window').modal('show')

        $('#data-table').bootstrapTable({
            url: '/admin/navigation/',
            responseHandler: function (res) {
                return res.data
            },
            columns: [
                {
                    title: '序号',
                    width: 50,
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1
                    }
                },

                {
                    title: '名称',
                    field: 'name',
                    formatter: function (value, row) {
                        return `<a href="${row.link}" target="_blank">${value}</a>`
                    }
                },

                {
                    title: '图标',
                    field: 'icon',
                    formatter: function (value) {
                        return `<i class="fa fa-${value}"></i>`
                    }
                },

                {
                    title: '顺序',
                    width: 60,
                    field: 'ordered',
                    formatter: function (value, row) {
                        return `<input data-id="${row.id}" class="form-control lw-order-input" style="width: 60px;" type="number" value="${value}">`
                    }
                },

                {
                    title: '跳转方式',
                    field: 'linkMode',
                    formatter: function (value) {
                        return value ? '新页面打开' : '当前页面打开'
                    }
                },

                {
                    title: '是否启用',
                    field: 'enable',
                    formatter:function (value) {
                        return value?`<i class="fa fa-check"></i>` :`<i class="fa fa-close"></i>`
                    }
                },

                {
                    field: 'id',
                    title: '操作',
                    width: 200,
                    formatter: function (value) {
                        return `<button type="button" data-id="${value}" class="btn btn-info btn-sm lw-update-btn"><i class="fa fa-edit"></i> 编辑</button> <button type="button" data-id="${value}" class="btn btn-danger btn-sm lw-del-btn"><i class="fa fa-trash"></i> 删除</button>`
                    }
                },
            ]
        })

        $("#data-form").on('submit', function () {
            let data = $(this).serialize();

            $.ajax({
                url: '/admin/navigation/',
                method: 'post',
                data: data,
                dataType: 'json',
                success: res => {
                    if (res.code === 200) {
                        layer.msg("保存成功", {icon: 1, time: 500}, function () {
                            $('#save-window').modal('hide')
                            $('#data-table').bootstrapTable('refresh', {silent: true})
                        })
                    } else {
                        layer.msg(res.message, {icon: 2})
                    }
                }
            })


            return false;
        })

        $("#lw-add-btn").on('click', function () {
            $("#window-title").text('新增导航条')
            $("#data-form").initForm({id: "", name: "", icon: "", link: "", linkMode: "false", enable: "true",})
            $('#save-window').modal('show')
        })

        $('#lw-order-btn').on('click', function () {
            let ids = ""
            $('#data-table .lw-order-input').each((index, ele) => ids += $(ele).data('id') + "----" + $(ele).val() + ";")
            $.ajax({
                url: '/admin/navigation/order',
                method: 'post',
                data: {ids: ids},
                dataType: 'json',
                success: res => {
                    if (res.code === 200) {
                        layer.msg("保存成功", {icon: 1})
                        $('#data-table').bootstrapTable('refresh', {silent: true})
                    } else {
                        layer.msg(res.message, {icon: 2})
                    }
                }
            })
        })

        $("#data-table").on('click', '.lw-update-btn', function () {
            //   获取目标资源id
            let id = $(this).data('id')
            $.ajax({
                url: '/admin/navigation/' + id,
                method: 'get',
                dataType: 'json',
                success: res => {
                    if (res.code === 200) {
                        res.data['linkMode'] = res.data['linkMode'] + ""
                        res.data['enable'] = res.data['enable'] + ""
                        $("#window-title").text('编辑导航条')
                        $("#data-form").initForm(res.data)
                        $('#save-window').modal('show')
                    } else {
                        layer.msg(res.message, {icon: 2})
                    }
                }
            })
        }).on('click', '.lw-del-btn', function () {
            let id = $(this).data('id')
            let idx = layer.confirm('是否要删除该数据？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: '/admin/navigation/' + id,
                    method: 'delete',
                    dataType: 'json',
                    success: res => {
                        if (res.code === 200) {
                            layer.msg("删除成功", {icon: 1})
                            $('#data-table').bootstrapTable('refresh', {silent: true})
                        } else {
                            layer.msg(res.message, {icon: 2})
                        }
                    }
                })
                layer.close(idx);
            })
        })

    })
</script>
</body>
</html>