<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common::header(~{::title},~{},~{})">
    <title th:text="${'分类大全 - '+@webSite.title}"></title>
</head>
<body>
<th:block th:include="common::nav"></th:block>


<div class="lw-container lw-main lw-posr">
    <div class="lw-left-list">
        <ol class="breadcrumb lw-crumb">
            <li><a href="/">首页</a></li>
            <li class="active">分类大全</li>
        </ol>
        <ul class="lw-category-list">
            <li th:each="category:${categories}">
                <a th:href="@{/category/{id}.html(id=${category.id})}">
                    <i class="fa fa-folder lw-mr5"></i>
                    <th:block th:text="${category.name}"></th:block>
                    <span>(Total <th:block th:text="${category.articleCount}"></th:block> Articles)</span></a>
                <p th:text="${category.summary}"></p>
                <p class="lw-category-update">最后更新: <th:block th:text="${category.articleCount eq 0}?'1970-01-01':${#dates.format(category.lastUpdated,'yyyy-MM-dd')}"></th:block></p>
            </li>
        </ul>
    </div>
    <div class="lw-right-list lw-md-show lw-posa">
        <th:block th:include="common::right"></th:block>
    </div>
</div>

<th:block th:include="common::footer"></th:block>
</body>
</html>